@tailwind base;
@tailwind components;
@tailwind utilities;


/* ---------- BASE (global reset + typography defaults) ---------- */
@layer base {

  body {
    @apply bg-slate-300 text-slate-900 font-sans;
  }

  h1, h2, h3 {
    @apply text-preset1;
  }

  p {
    @apply text-preset2 text-slate-500;
  }
}
